@import "tailwindcss";


/* Define your theme tokens */
@theme {
  --color-primary: #563C29;
  --color-secondary: #3B332B;
  --color-tertiary: #7E7367;
  --color-quaternary: rgb(212, 168, 111);

  --color-bg1: rgb(248, 238, 224);
}


body{
  background-color: rgb(248, 238, 224);
}

:root{

  /* Gradients */
     --gradient-earth: linear-gradient(135deg, rgb(86, 60, 41) 0%, hsl(30 35% 40%) 100%);
     --gradient-sand: linear-gradient(135deg, rgb(212, 168, 111) 0%, hsl(30 40% 85%) 100%);
     --gradient-overlay: linear-gradient(180deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.1) 100%);
}
